<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!--CSS links-->
    <link rel="stylesheet" href="static/LookandFeel.css">

    <!--PWA links-->
    <!--<meta name="theme-color" content="#e1efe4">
    <link rel="manifest" href="../static/manifest.json">
    <link rel="apple-touch-icon" href="../static/images/logo.jpeg">-->

    </head>

    <body>
        <header id = "header">
            <div class="column home"><a href="/">Home</a></div>
            <div class="column">Removing A Movie :)</div>
        
        </header>

        <form method = "POST" action="/removeFromDB">
            <div id="labels">
                <label name="name">Name:</label>
                <input type="text" name = "nameBox" placeholder="Enter Movie Name" required/>
            </div>

            <button type="submit" id="submit">Submit</button>
        </form>